.bar {
    width: 20px;
    margin-right: 2px;
    background-color: blue;
}
#visualizer{
    display: flex;
}
#sorting{
    display: flex;
    
}

/* only for main page */
#bubble{
    height: 45px;
    border-radius: 10px;
}