body{
    background-color: #4D4861;
}
.bar {
    width: 20px;
    margin-right: 2px;
    background-color: #F7C4A5;
}
.bar-original {
    background-color: blue;
}

.bar-changed {
    background-color: red;
}

.bar-swapped {
    background-color: green;
}
#visualizer{
    display: flex;
    padding-left: 510px;
    margin-top: 10px;
}
.pass{
    padding-left: 500px;
    margin: 10px;
}
#controls{
    padding-left: 500px;
}
#sort{
    margin-top: 25px;
    margin-left: 570px;
}
#ide{
    height: 200px;
    width: 900px;
}



/* only for main page */
#bubble{
    height: 45px;
    border-radius: 10px;
}